.btn, .btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57B890;
  color: white;
  padding: 20px 16px;
  width: 155px;
  height: 48px;
  border-radius: 28px;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  color: #57B890;
  border: 1px solid #57B890;
}

.btn:hover {
  background-color: #45A67E;
}

.btn-secondary:hover {
  background-color: #57B890;
  color: white;
}

h1 {
  text-align: center;
    color: #1C0B54;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
}
