.container {
    padding: var(--app-block-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 530px;
    overflow: hidden;
}

.text {
    width: 400px;
    text-align: center;
    padding: 0 60px;
    padding-bottom: 50px;
}

.button {
    display: flex;
    align-items: center;
}

.joinbtn {
    width: 280px;
    padding-right: 40px;
}

.icon {
   color: white;
    position: relative;
    z-index: 1;
    right: 90px;
    height: 28px;
    width: 28px;
}

.image {
    width: 400px;
}

@media (max-width:500px) {
    .container {
        padding: var(--app-block-padding);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
    }

    .textbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .text {
        text-align: center;
        padding: 0 60px;
        padding-bottom: 50px;
    }
    
    .image {
        width: 250px;
    }

    .icon {
        color: white;
         position: relative;
         z-index: 1;
         right: 90px;
         height: 28px;
         width: 28px;
     }
}