section {
    padding: var(--app-block-padding);
    overflow: hidden;
}

.title {
    text-align: center;
    color: #1C0B54;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
}

.subtitle {
    text-align: center;
    color: #160943;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.calculate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.calcimage {
    width: 297px;
    height: 297px;
}

@media (max-width:500px) {
   section {
    padding: var(--app-block-padding);
   } 

   .title {
    font-size: 24px;
    line-height: 37px;
}

.subtitle {
    font-size: 16px;
    line-height: 25px;
}

.calculate {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
}