body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Monterrat', 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --app-block-padding: 4rem;
}

@media (max-width: 769px) {
  :root {
    --app-block-padding: 30px;
  }
}